.customer {
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.customer-img-container {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.customer__text{
    max-width: 600px;
}

.customer .customer__text p {
    font-size: 28px;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    padding: 0px;
    word-wrap: break-word;
}

/* .customer .customer__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.owl-carousel {
    padding: 20px 0px;
}


.customer img {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    object-fit: cover;
}

